
// Colors: c-*, backgrounds: b-*
// - t - text  - normal
// - highlight - highlight
// - hover - hover

@mixin text-color ($c) {
  color: $c;
  stroke: $c;
  fill: $c;
}

// Text colors
.c-text    { @include text-color($c-text); }   // Normal text (depending on theme)
.c-light   { @include text-color($c-light); }  // Highlighted text
.c-darker  { @include text-color($c-darker); } // Darkened text
.c-dark    { @include text-color($c-dark); }
.c-none    { @include text-color($b-normal); } // Invisible on normal background
.c-red     { @include text-color($c-red); }
.c-green   { @include text-color($c-green); }
.c-blue    { @include text-color($c-blue); }
.c-gray    { @include text-color($c-gray); }
.c-yellow  { @include text-color($c-yellow); }
.c-black   { @include text-color($c-black); }
.c-white   { @include text-color($c-white); }
.c-darkgreen { @include text-color($c-darkgreen); }
.c-darkred { @include text-color($c-darkred); }
.c-darkblue { @include text-color($c-darkblue); }
.c-darkkhaki { @include text-color($c-darkkhaki); }
.c-mediumblue { @include text-color($c-mediumblue); }
.c-steelblue { @include text-color($c-steelblue); }
.c-mediumred { @include text-color($c-mediumred); }

// Background colors
.b-text { background: $b-normal; }             // Background (depending on theme)

