/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-*
/resources/public/js
/resources/public/css
/resources/public/csszico.css
/out
/.repl
*.log
/.env
/.idea
*.iml
./data
./log
*.scssc
data
log
Procfile
system.properties
zorka/
