

// Main list (used in most monitoring and configuration views)
.list {
  overflow-y: auto;
  max-height: 100vh;

  // List item
  .itm {
    display: flex;
    cursor: default;
    padding: 0.25em 0.5em;
    &:hover {
      background-color: $b-hover;
    }

    // Description column (eg. visible name, labels etc.)
    .dsc {
      display: flex;
      overflow: hidden;

      // Visible name
      .n {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      // Object label
      .l {
        color: $c-text;
        padding-left: 0.5em;
        font-size: small;
      }

    } // .dsc

    // Comment column
    .cmt {
      color: $c-darker;
    }

    // Action icons column
    .icn {
      display: flex;
      padding-left: 0.2em;
      .svg-icon {
        cursor: pointer;
        margin-right: 0.25em;
      }
    } // .icn

    // Additional info column
    .inf {
      display: flex;
      align-self: flex-start;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0.5em;
      white-space: nowrap;
      .ii {
        display: flex;
        padding-left: 0.2em;
        padding-right: 1em;
        font-size: small;
        .i {
          font-weight: bold;
          color: $c-darker;
          padding-right: 0.2em;
          filter: opacity(75%);
        }
        .t {
          padding-left: 0.2em;
        }
      }
    } // .inf

    .ci {
      padding-right: 0.5em;
    }

    // Default view: two columns + button column
    .c1 {
      flex: 4 4 40%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 0.5em;
    }
    .c2 {
      flex: 4 4 40%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: $small) {
      .c3 {
        display: none;
      }
      flex-direction: column;
      border-bottom: 1px solid $c-line;
    }
  } // .itm

  // Details view (expanded list item)
  .det {
    padding: 0.25em 0.5em;
  }

  // Key-value list
  .kvl {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    .kv {
      display: flex;
      @media screen and (max-width: $small) {
        flex-direction: column;
      }
      .k {
        font-weight: bold;
        color: $c-blue;
        padding-right: 0.5em;
        margin-left: 0.5em;
        flex-grow: 0;
        flex-shrink: 0;
      }
      .v {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0.25em;
        @media screen and (max-width: $small) {
          white-space: pre-wrap;
          overflow: auto;
        }
      }
    } // .kv
  } // .kvl

  // Highlighted item
  .hl {
    background-color: $b-focus;
    &:hover {
      background-color: $b-hover;
    }
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .clickable {
      margin-left: 0.25em;
      filter: opacity(10%);
      &:hover {
        filter: opacity(100%);
      }
    }
  } // .btns

}


