// ---------------------------------- Main menu (left-side slider) ----------------------------

.main-menu {
  display: flex;
  flex-direction: column;
  width: 2.125em;
  overflow-x: hidden;
  overflow-y: hidden;
  background: $b-light;
  border-right: 1px solid $c-line;

  .pnl {
    padding: 0.2em 0.625em 0.5em;
    flex: 10;
    overflow-y: auto;
    height: 100vh;
  }

  // Single item from menu section.
  .itm {
    padding-top: 0.125em;
    padding-bottom: 0.25em;
  }
}

