[ ; Predefined set of trace types
 {:flags 9,  :name "HTTP", :glyph "awe/globe#steelblue", :descr "${METHOD:REQ} ${URI} -> ${STATUS}", :comment "HTTP request handling"}
 {:flags 3,  :name "HTTP_CLI", :glyph "awe/globe#darkred", :descr "${METHOD} ${URL}", :comment "HTTP client request"}
 {:flags 11, :name "SQL", :glyph "awe/database#darkgreen", :descr "[${DB}] ${SQL}", :comment "SQL query"}
 {:flags 3,  :name "LDAP", :glyph "awe/database#darkkhaki", :descr "${NAME}: ${FILTER}", :comment "LDAP query"}
 {:flags 1,  :name "SOAP", :glyph "awe/cube#steelblue", :descr "${URI}: ${HDR.IN.soapOperation} -> ${STATUS}", :comment "SOAP request handling"}
 {:flags 3,  :name "SOAP_CLI", :glyph "awe/cube#darkgred", :descr "${URL}: ${OPERATION} -> ${STATUS}", :comment "SOAP client request"}
 {:flags 1,  :name "EJB", :glyph "awe/cube#steelblue", :descr "${CLASS}.${METHOD}", :comment "EJB request handling"}
 {:flags 3,  :name "EJB_CLI", :glyph "awe/cube#darkred", :descr "${CLASS}.${METHOD}", :comment "EJB client request"}
 {:flags 1,  :name "REST", :glyph "awe/globe#steelblue", :descr "${HTTP_METHOD} ${URI}", :comment "REST request handling"}
 {:flags 3,  :name "REST_CLI", :glyph "awe/globe#darkred", :descr "${CLASS}.${METHOD}", :comment "REST client request"}
 {:flags 1,  :name "JMS", :glyph "awe/cube#steelblue", :descr "${CLASS}.${METHOD}", :comment "JMS message handling"}
 {:flags 1,  :name "QUARTZ", :glyph "awe/clock#darkred", :descr "${GROUP} ${NAME}", :comment "Quartz Schedules"}
 {:flags 1,  :name "CAMEL", :glyph "awe/globe#steelblue", :descr "${CLASS} ${CONTEXT_NAME}", :comment "Apache CAMEL flow"}
 {:flags 1,  :name "CAS", :glyph "awe/user-secret#darkkhaki", :descr "${ACTION}", :comment "Jasig CAS action"}
 {:flags 1,  :name "CAS_CLI", :glyph "awe/user-secret#darkred", :descr "${CAS_URI}", :comment "Jasig CAS client"}
 {:flags 1,  :name "MULE_CMP", :glyph "awe/cube#darkkhaki", :descr "${APPLICATION} ${FLOW}", :comment "Mule ESB component"}
 {:flags 1,  :name "MULE_DISP", :glyph "awe/cube#darkkhaki", :descr "${APPLICATION} ${URI}", :comment "Mule ESB dispatcher"}
 {:flags 1,  :name "MULE_FLOW", :glyph "awe/cube#darkkhaki", :descr "${APPLICATION} ${FLOW}", :comment "Mule ESB flow"}
 {:flags 3,  :name "CRYSTAL", :glyph "awe/cube#darkred", :descr "${RID}", :comment "Crystal Reports Remote Request"}
 {:flags 3,  :name "FLEX", :glyph "awe/cube#steelblue", :descr "${DEST}: ${MESSAGE_ID} (${CLIENT_ID})", :comment "FLEX Remote Service"}
 {:flags 3,  :name "AMQP_SEND", :glyph "awe/paper-plane-empty#darkred", :descr "${CONN}    -> ${EXCHANGE}", :comment "AMQP message sent"}
 {:flags 1,  :name "AMQP_RECV", :glyph "awe/paper-plane-empty#steelblue", :descr "${CONN}    <- ${EXCHANGE}", :comment "AMQP message received"}
 {:flags 1,  :name "HYSTRIX_IN", :glyph "awe/flash#steelblue", :descr "${GROUP}.${KEY}", :comment "Hystrix: worker thread execution"}
 {:flags 3,  :name "HYSTRIX_OUT", :glyph "awe/flash#darkkhaki", :descr "${GROUP}.${KEY}", :comment "Hystrix: client call"}
 {:flags 3,  :name "SPRING", :glyph "awe/leaf#darkgreen", :descr "${CLASS|URI|SERVICE_URL}/${METHOD}", :comment "Spring invocation"}
 ]
