

//  /view/cfg/app

.cfg-app-list {

  .itm {
    //.c1 { flex: 4 4 40%; }
    //.c2 { flex: 4 4 40%; }
  } // .itm

  .det {
    //.c1  { flex: 4 4 20%; }
    //.c2  { flex: 4 4 30%; }
    //.c3  { flex: 4 4 50%; }
    //.c2x { flex: 4 4 80%; }
  } // .det

}



//  /view/cfg/env

.cfg-env-list {

  .itm {
    //.c1 { flex: 4 4 40%; }
    //.c2 { flex: 4 4 40%; }
  } // .itm

  .det {
    //.c1  { flex: 4 4 20%; }
    //.c2  { flex: 4 4 30%; }
    //.c3  { flex: 4 4 50%; }
    //.c2x { flex: 4 4 80%; }
  } // .det

}



//  /view/cfg/host

.cfg-host-list {

  .itm {
    //.c1 { flex: 4 4 40%; }
    //.c2 { flex: 4 4 40%; }
  } // .itm

  .det {
    //.c1  { flex: 4 4 20%; }
    //.c2  { flex: 4 4 30%; }
    //.c3  { flex: 4 4 50%; }
    //.c2x { flex: 4 4 80%; }
  } // .det

}


//  /view/cfg/user

.cfg-user-list {

  .itm {
    .c1 {
      flex: 1 0 auto;
      min-width: 8em;
      max-width: 8em;
    }
    .c2 {
      flex: 4 4 auto;
    }
  } // .itm

  .det {
    //.c1  { flex: 4 4 20%; }
    //.c2  { flex: 4 4 30%; }
    //.c3  { flex: 4 4 50%; }
    //.c2x { flex: 4 4 80%; }
  } // .det

}
