
//   /view/mon/host

.mon-host-list {

  .itm {
    .c1 { flex: 4 4 40%; }
    .c2 { flex: 4 4 40%; }
  } // .itm

  .det {

    .c1 { flex: 4 4 20%; }
    .c2 { flex: 4 4 30%; }
    .c3 { flex: 4 4 50%; }

  } // .det

}




